#bloc_page
{
    width: 100%;
    margin: auto;
}

header
{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height:20%;
}

nav
{
    justify-content: flex-end;
}
nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}
