<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}<link href="{{ asset('blo.css') }}" href="{{ asset('bootstrap.css') }}" href="{{ asset('etalage.css') }}" href="{{ asset('fwslider.css') }}" href="{{ asset('jquery.fancybox.css') }}" href="{{ asset('magnific-popup.css') }}" href="{{ asset('style.css') }}" rel="stylesheet" />{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        
    </head>
    <body>
    	<div id="bloc_page">
            
            <header>
            	{% block header %}{% endblock %}
            	<nav>
            		{% block nav %}
                	<ul>
                    	<li><a href="{{ path('tricks_index')}}">Accueil</a></li>
                    	<li><a href="">Figure</a></li>
                    	<li><a href="">Connexion</a></li>
                    	<li><a href="">Inscription</a></li>
                    	<li><a href="" visibility: hidden>disconnection</a></li>
                    	
                	</ul>
                	{% endblock %}
                
                </nav>
            </header>
            
            <section>
            	<div class="title">
            		{% block ti %}<h1>Le meilleur si non rien !!!</h1>{% endblock %}
            		<button><a href="#bloc">monter</a></button>
            	</div>
            		
            	

            	<content>
            		{% block content %}{% endblock %}
            	</content>
            	<aside>
            		{% block aside %}{% endblock %}
            	</aside>
            	
            </section>
            <footer>
            	{% block footer %}{% endblock %}
            </footer>

        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
