

<div class="col-12 slide" style="display: block;">
        <div class="col-12">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="login-page">
            <!-- Material form login -->
                <div class="card">

                    <h5 class="card-header info-color white-text text-center py-4">
                        <strong>Laisser un commentaire</strong>
                    </h5>

                    <!--Card content-->
                    <div class="card-body px-lg-5 pt-0">

                        <!-- Form -->
    
                        {{form_start(form)}}
                        <div class="md-form">
                            {{ form_widget(form.commentaire) }}
                        </div>

      		               		            

                        <!--Blue-grey-->
                        <button class="btn btn-info btn-rounded  z-depth-0" type="submit" >Enregistrer</button>
                        {{form_end(form)}}
	
                    </div>
                </div>
	       </div>
        </div>	

		<br>
    </div>


