{# templates/users/texte.html.twig #}
<h3>Réinitialiser votre mot de passe !</h3>

 Il ne vous reste plus qu'a cliquer sur le lien pour être rediriger sur page de réinitialisation.  <a href="{{ url('changePassword', {'token': token}) }}" >ici</a>
