{# templates/users/texte.html.twig #}
<h3>Vous êtes enregistré!</h3>

 Il ne vous reste plus qu'a cliquer sur le lien pour vous enregistrer.  <a href="{{ url('validate', {'token': token}) }}" >ici</a>
