<form method="post" action="{{ path('tricks_delete_post', {'id': trick.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette figure ?');">    
    <button class="btn">Supprimer la figure</button>
</form>
