{% extends 'base.html.twig' %}

{% block title %}Edit Tricks{% endblock %}

{% block content1 %}
    <h1>Edit Tricks</h1>

    {{ include('tricks/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('tricks_index') }}">revenir sur la page d'accueil</a>

    {{ include('tricks/_delete_form.html.twig') }}
{% endblock %}
