{% extends 'base.html.twig' %}
{% block content1 %}
    
    <h2 class="title h1 my-4">Toutes les figures</h2>            
    
        <div class="main">
            <div class="shop_top">
                <div class="m-5">
                    <h3 class="m_2" id="ancre"></h3>
                    <div class="alert alert success">
                        {% for message in app.flashes('success') %} {{ message }} {% endfor %}
                    </div>

                    <div class="alert alert error">
                        {% for message in app.flashes('error') %} {{ message }} {% endfor %}
                    </div>
                    <div class="row ex_box">
                        {% include 'tricks/blockTrick.html.twig' with {'tricks': tricks}%}
                    </div>
        
                    <button type="button" id="loading" class="btn btn-info">Voir plus</button>
        
                </div>
            </div>
        </div>
    <div class="features">
        <div class="container0">
            <div class="col-md-3 col-lg-3 top_box1">   
                <div class="n hidden-xs " style="font-size: 24px;">
                    <a href="#ancre"><i class="fas fa-arrow-up fa-2x"></i></a>
                </div>              
            </div>   
        </div>
    </div>
        
{% endblock %}

{% block javascript %}
<script type="text/javascript">var lastId =  4 </script>
<script> 
    $("#loading").click(function()
    {
        var jqxhr = $.post( "{{path('trick_ajax')}}", { id: lastId }
        ,function(data) 
        {
        $('.ex_box').append( data );
        lastId = $('.ex_box > div').length;
        });
    })


</script>
<script>

    $(".confirmModalLink").click(function() 
    {
        $("#confirmModal").modal("show");
    });

    $("#confirmModalNo").click(function(e) {
        $("#confirmModal").modal("hide");
    });

    $("#confirmModalYes").click(function(e) {
        theHREF = $(this).attr("href");
        window.location.href = theHREF;
    });

</script>   

{% endblock %}
