{% extends 'base.html.twig' %}

{% block title %}New Tricks{% endblock %}

{% block content1 %}
    <h1>Créer une nouvelle figure</h1>

    {{ include('tricks/_form.html.twig') }}

    <a href="{{ path('tricks_index') }}">revenir à la liste</a>
{% endblock %}
